
<!--Add custom template to image items-->
<div class="tiles" gallerize="gal" [style.width.px]="screenWidth - 180" *ngIf="photos">
  <div *ngFor="let pho of photos" class="tile" >
    <div class="image_container">
      <img class="image" [src]="pho.preUrl" [attr.imageSrc]="pho.srcUrl" [attr.thumbSrc]="pho.preUrl">
      <div class="image_hover">
        <div class="image_text">{{pho.description}}</div>
      </div>
    </div>
    <p>
      {{pho.title}}
      <b class="date">{{pho.date}}</b>
    </p>
  </div>
</div>
