/deep/ app-pottery img {
  padding: 5px;
  object-fit: cover;
  width: 250px;
  height: 250px;
  float:left;
}

/deep/  gallery {
  background: #767676!important ;
}


.tiles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right:0px;
  padding:0px;
}
.tile {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  flex-wrap: no-wrap;
  padding:0px;
}
.column_1 {
  display:block;
  width: auto;
  width: 100%;
}
.column_1, .column_2{
  padding:10px;
}
.column_2 {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size:18px;
  width:80px;
}
h3, h4, h5, p{
  margin: 0px;
  padding: 10px;
}

p{
  text-align: justify;
}

@media only screen and (max-width: 700px){
  .tile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .column_1, .column_2 {
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      padding:10px;
      width:100%;
  }
  .column_2 {
      width:240px;
  }
  /deep/ app-pottery img {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
