p {
  font-family: Lato;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
/deep/ app-photography, /deep/ app-pottery, /deep/ app-pottery-details, /deep/ app-cart{
  margin-left: 120px;
  margin-top: 100px;
  padding: 16px;
  display: block;
  max-width: 800px;
}

/deep/ app-top-bar{
  margin: 0px;
  padding: 0px;
  top:0px;
  left:0px;
}

/deep/ h2 {
  display: block;
  position: fixed;
  color:#fff;
  top: 32px;
  right: 20px;
  font-size: 2em;
  z-index:2;
}

#hl{
border-top:2px solid #fff;
width:100%;
position: fixed;
top:90px;
z-index: 2;
}
