.g-box {}

#homegallery {
  background-color: transparent !important;
}

/deep/ #homegallery div.g-box {
  height: 0px;
  display: none;
}

/deep/ #homegallery gallery-thumbs.ng-star-inserted {
  background: transparent;
  top: 0px;
  left: 0px;
  height: 100% !important;
}

#intro {
  position:fixed;
  top: 230px;
  left: 40px;
  width: 110px;
  text-align: center;
  margin:0px;
  padding:5px;
  font-size:13px;
  z-index:2;
}
#intro p {
  color: #fff!important;
  text-shadow: 0px 0px 3px #add8e6;
}

/*
/deep/ #homegallery gallery-thumb.g-active-thumb gallery-image .g-image-item {
  background-size: contain !important;
}


/deep/ gallery-thumb.g-active-thumb{
display:block;

}*/
