<div id="navigation" *ngIf="nav.visible">
  <div id="compass">
    <img src="assets/icons/compass_needle.ico"
    class="compass_needle"
    width="200px"
    height="200px"
    [@rotatedState]='nav.deg'>
    <a [title]="'Home'" [routerLink]="['/']" class="navlinks" id="home_link">
      <h1 [@selectN]='nav.deg'>Home</h1>
    </a>
    <a [title]="'View Jess&#8217;s newest photo updates.'" [routerLink]="['/photography']" class="navlinks" id="photo_link">
      <h1 [@selectE]='nav.deg'>Photography</h1>
    </a>
    <a [title]="'View Jess&#8217;s newest pottery updates.'" [routerLink]="['/pottery']" class="navlinks" id="pottery_link">
      <h1 [@selectW]='nav.deg'>Pottery</h1>
    </a>
    <a [routerLink]="['/cart']" class="button fancy-button"  class="navlinks" id="cart_link">
      <i class="material-icons" [@selectS]='nav.deg'>shopping_cart</i>
    </a>
  </div>

</div>
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
